
.svg-1pp9ckp {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #ed8936;
    width: 12rem;
    left: 10%;
    top: 20%;
}

.svg-sji3wt {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #e53e3e;
    width: 12rem;
    left: 60%;
    top: 70%;
}

.svg-w31exa {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #4a5568;
    width: 1.5rem;
    left: 60%;
    top: 15%;
}

.svg-y0dl48 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #3182ce;
    width: 4rem;
    left: 80%;
    top: 10%;
}

.svg-18xsuah {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #fff;
    width: 3rem;
    left: 90%;
    top: 50%;
}

.svg-zcjn9y {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #4a5568;
    width: 4rem;
    left: 70%;
    top: 90%;
}

.svg-g6bejs {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #2d3748;
    width: 4rem;
    left: 30%;
    top: 65%;
}

.svg-sq6dfi {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #ed64a6;
    width: 4rem;
    left: 28%;
    top: 15%;
}

.svg-2f96ay {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 1.5rem;
    left: 75%;
    top: 10%;
}

.svg-1ebmap9 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 45%;
    top: 10%;
}

.svg-iswy38 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #4a5568;
    width: 6rem;
    left: 5%;
    top: 70%;
}

.svg-1k9mgoi {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 1.5rem;
    left: 4%;
    top: 20%;
}

.svg-v3cltz {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 50%;
    top: 60%;
}

.svg-xrc20p {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 95%;
    top: 90%;
}

.svg-p4rv6q {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #4a5568;
    width: 6rem;
    left: 40%;
    top: 80%;
}

.svg-1jxqyti {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #4a5568;
    width: 2rem;
    left: 25%;
    top: 5%;
}

.svg-7o1iiz {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #48bb78;
    width: 16rem;
    left: 95%;
    top: 5%;
}

.svg-1ocb5nc {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #805ad5;
    width: 16rem;
    left: 5%;
    top: 90%;
}

.svg-1ocq7bs {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 1.5rem;
    left: 10%;
    top: 10%;
}

.svg-1iqfsio {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 40%;
    top: 30%;
}

.svg-e5pyey {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #4a5568;
    width: 4rem;
    left: 10%;
    top: 50%;
}

.svg-6wbr2o {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #4a5568;
    width: 2rem;
    left: 80%;
    top: 70%;
}

/* portfolio svgs */
.svg-8855ne {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 85%;
    top: 75%;
}
.svg-hbb9m8 {
    position: absolute;
    stroke: none;
    color: #fff;
    fill: currentcolor;
    display: block;
    width: 2rem;
    left: 70%;
    top: 20%;
}
.svg-1oggizc {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #ed8936;
    width: 2rem;
    left: 25%;
    top: 5%;
}
.svg-xs54em {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 6rem;
    left: 17%;
    top: 60%;
}
.svg-szf6pi {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #48bb78;
    width: 4rem;
    left: 20%;
    top: 90%;
}
.svg-hinh84 {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #fff;
    width: 3rem;
    left: 90%;
    top: 30%;
}
.svg-cqskim {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ecc94b;
    width: 4rem;
    left: 70%;
    top: 90%;
}
.svg-62axdo {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    color: #fff;
    display: block;
    width: 4rem;
    left: 18%;
    top: 75%;
}
.svg-1mlti4d {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 75%;
    top: 10%;
}
.svg-1aq01ut {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #48bb78;
    width: 2rem;
    left: 45%;
    top: 10%;
}
.svg-k1dcl3 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 4%;
    top: 20%;
}
.svg-13fzec1 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ed64a6;
    width: 3rem;
    left: 80%;
    top: 60%;
}
.svg-qggoo {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ed8936;
    width: 1.5rem;
    left: 10%;
    top: 10%;
}
.svg-58anst {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ecc94b;
    width: 3rem;
    left: 29%;
    top: 26%;
}
.svg-1kuqz68 {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #e53e3e;
    width: 4rem;
    left: 75%;
    top: 30%;
}
.svg-16kr9pe {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #ecc94b;
    width: 2rem;
    left: 80%;
    top: 70%;
}

/* about svg */
.svg-1hjfdbv {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #3182ce;
    width: 1.5rem;
    left: 50%;
    top: 75%;
}
.svg-u3zb3u {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 70%;
    top: 20%;
}
.svg-51q0mz {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 25%;
    top: 5%;
}
.svg-1qgu6i0 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ed8936;
    width: 6rem;
    left: 80%;
    top: 80%;
}
.svg-bq8uop {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #805ad5;
    width: 4rem;
    left: 5%;
    top: 80%;
}
.svg-1hp4qbq {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #fff;
    width: 3rem;
    left: 95%;
    top: 50%;
}
.svg-1szjphc {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 85%;
    top: 15%;
}
.svg-1ebmap9 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 45%;
    top: 10%;
}
.svg-k1dcl3 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 4%;
    top: 20%;
}
.svg-lmp4cs {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 70%;
    top: 60%;
}
.svg-qggoo {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #ed8936;
    width: 1.5rem;
    left: 10%;
    top: 10%;
}
.svg-4er4x4 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 20%;
    top: 30%;
}
.svg-1kmh4j3 {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 80%;
    top: 70%;
}

/* footer svg */
.svg-u3zb3u {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 70%;
    top: 20%;
}
.svg-51q0mz {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 25%;
    top: 5%;
}
.svg-g01nsh {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 4%;
    top: 20%;
}
.svg-lmp4cs {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 70%;
    top: 60%;
}
.svg-4er4x4 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 3rem;
    left: 20%;
    top: 30%;
}
.svg-1kmh4j3 {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 80%;
    top: 70%;
}
.svg-1hp4qbq {
    position: absolute;
    stroke: currentcolor;
    fill: none;
    display: block;
    color: #fff;
    width: 3rem;
    left: 95%;
    top: 50%;
}
.svg-obiq53 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #fff;
    width: 1.5rem;
    left: 85%;
    top: 15%;
}
.svg-1ebmap9 {
    position: absolute;
    stroke: none;
    fill: currentcolor;
    display: block;
    color: #2d3748;
    width: 2rem;
    left: 45%;
    top: 10%;
}

/* wave */
.footer_wave svg {
    width: 100%;
    height: 300px;
    transform: rotate(180deg);
}
.footer_wave #contact-wave {
    color: #2d3748;
    fill: currentcolor;
}
.footer_wave path {
    animation: 20s linear 0s infinite alternate none running wave-animation;
}
/* wave animation */
@keyframes wave-animation{
    0% {
        d: path("M 0 100 Q 250 50 400 200 Q 550 350 800 300 L 800 0 L 0 0 L 0 100 Z");
    }
    50% {
        d: path("M 0 100 Q 200 150 400 200 Q 600 250 800 300 L 800 0 L 0 0 L 0 100 Z");
    }
    100% {
        d: path("M 0 100 Q 150 350 400 200 Q 650 50 800 300 L 800 0 L 0 0 L 0 100 Z");
    }
}